{% block content %}
<div class="main-content">
<div class="item-container-wrapper">
    <h2>Rechnung</h2>
    <div class="item-container" style="border-top: 1px solid black">
        <div style="width: 5%">Pos</div>
        <div style="width: 15%">Vorschau</div>
        <div style="width: 45%">Leistung</div>
        <div style="width: 10%">MwSt.</div>
        <div style="width: 10%">Anzahl</div>
        <div style="width: 15%">Gesamtkosten</div>
    </div>
{% for item in items %}
    <div class="item-container">
        <div style="width: 5%">{{loop.index}}</div>
        <div style="width: 15%"><img class="logo" src="https://murtfeldt-as.de/img/logo.69e41a1d.png" alt="Hallo"></div>
        <div style="width: 45%">ID: {{item.referencedId}}</div>
        <div style="width: 10%">19%</div>
        <div style="width: 10%">{{item.quantity}}</div>
        <div style="width: 15%">{{item.costs}} EUR</div>
    </div>
{% endfor %}
    <div class="item-container">
        <div style="width: 5%">{{ items|length + 1}}</div>
        <div style="width: 15%"></div>
        <div style="width: 45%">Verpackung und Versand</div>
        <div style="width: 10%">19%</div>
        <div style="width: 10%">1</div>
        <div style="width: 15%">4.96 EUR</div>
    </div>
</div>
<div class="billing-finish-container"></div>
    <div style="display:flex; width: 95%; margin-left:2.5%">
        <div style="flex-grow:1"><br><br><h4>Wir danken Ihnen für Ihren Auftrag!</h4></div>
        <div style="flex-grow:1">
            Nettobetrag: <br>
            zzgl. 19 % MwSt: <br>
            <h4>Gesamtbetrag: {{costs}}€</h4>
        </div>
    </div>
    <h4 style="text-align:center; margin-top:1vh">Die Rechnung wurde bereits bezahlt</h4>
    <div style="margin-top:1vh">Die aufgeführten Dienstleistungen haben Sie gemäß unseren AGB erhalten.
    Wenn nicht anders angegeben, entspricht das Leistungsdatum dem Rechnungsdatum.
    </div>
</div>
{% endblock content %}